body{
    background-image: linear-gradient(rgb(255, 67, 67), rgb(66, 49, 255));

    text-align: center;
}

h1{
    color: blueviolet;
    background-color: whitesmoke;
}

#show_sketch{
    float: right;
    margin-right: 20px;
    margin-top: 2.5px;
}

canvas{
    border: 5px solid whitesmoke;
    border-radius:35px;
    animation-name: borderChangeAnimation;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes borderChangeAnimation{
    from{
        box-shadow: 1px 1px 38px rgb(255, 36, 36);
    }
    to{
        box-shadow: 1px 1px 38px rgb(69, 40, 255);
    }}
p{
    padding-top: 10px;
    font-size: 25px;
}
